body{
  background-color: #0f0f0f;
}
h1{
  color:#c20605;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

li.nav-item:hover > a {
    text-decoration: underline;
    cursor: pointer;
    color: #ff6c6c;
}

#main-nav-logo {
  width: 200px;
}

#main-nav-logo > * img {
  max-width: 100%;
  max-height: 100%;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

#main-nav-logo > * img:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 20%; /* Full height */
    overflow: hidden; /* NO scroll */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    border: 1px solid #ffffff;
    border-radius: 40px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 100%;
}

#user-nav-profile-modal {
    background-color: #ffffffb1;
    width: calc(64px * 5 + 10px);
    height: fit-content;
    margin: 0 auto;
    top: 75px;
    margin-right: 17px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#user-nav-profile {
  display: inline-block;
  position: relative;
  height: 60px;
  padding: 5px;
  margin-right: 15px;
}

#user-nav-profile > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#user-nav-profile > img:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Cards */
#card{
  margin-bottom:50px;
  padding-bottom: 5px;
  box-sizing: border;
  font-family: 'Times New Roman', Times, serif;
  background-color: #000000;
}

.card{
  color:#adabab;
  height: auto;
}

.card div{
  display:flex;
  justify-content: center;
  
  min-height: 20vh;
  background-color: #181818;
  margin-bottom: 50px;
}

.card img{
  max-width: 350px;
  border: 3px solid #000000;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

#about-imgs1 img{
  margin-top: 8em;
}

#about-imgs2 img{
  margin-top: 2em;
}

.datacard,
.mission-slogan,
.location{
  border: 3px solid #c20605;
  margin: auto;
  width:90%;
  padding-right: 50px;
  padding-left: 30px;
}

.datacard{
  padding-bottom: 10px;
  padding-top: 20px;
}


.datacard p{
  border-right:20px;
  text-align: justified;
}

.card h1{
  background-color: #000000;
  color:#c20605;
  padding-top: 20px;
  text-align: center;
}

#about-gymtext h2{
  color:#cfcbcb;
  text-align: left;
}


.mission-slogan h2{
  color:#cfcbcb;
  text-align: center;
}

.mission-slogan h3{
  color:#979797;
  font-size: 30pt;
  text-align: center;
}

.mission-slogan p{
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 5px;
  text-align: justified;
}

.location{
  height:45em;
}

.location h2{
  color:#cfcbcb;
  text-align: center;
}

.location h3{
  color:#cfcbcb;
  text-align: center;
  font-size: 15pt;
}

.map{
  padding-bottom: 50%;
  position: relative;
}

.map iframe{
  height: 25em;
  padding-left: 1em;
  width: 35em;
  justify-content: center;
  left: 0;
  top: 0;
}


/*Register Page*/
.reg-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  border: 3px solid #5c0101;
  color:black;
  padding-top:40px;
  padding-bottom:50px;
  padding-right: 5em;
  padding-left:5em;
  margin-bottom: 5em;
}

.reg-container * {
  box-sizing: border-box;
}

.reg-container h1{
  color: #5c0101;
  font-size: 35pt;
  font-family: Calibri, Helvetica, sans-serif
}

.reg-container p{
  text-align: center;
}

.reg-container ::placeholder { 
  color: rgb(31, 30, 30);
  opacity: 1; 
}


.reg-card {
  padding-top:10px;
  padding-bottom:50px;
  padding-right: 5em;
  padding-left:5em;
  background-color: #8d8282dc;
  color:black;
}


#emgcy-contact h2,
#memberinfo h2{
  font-size: 25pt;
  font-family: Calibri, Helvetica, sans-serif;
  color:#5c0101;
}

.reg-card label{
  font-size: 14pt;
  text-align: left;
  color: #000000;
}



/* Full-width input fields */
input[type=text], 
input[type=password] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #9b1f1f;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #f00b0b;
  outline: none;
}

/* Overwrite default styles of hr */
.reg-container hr {
  border: 1px solid #5c0101;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #5c0101;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

#emgcy-contact a {
  color: #5c0101;
}

#regpg-signin a {
  color: #c20605;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  padding-top: 25px;
  text-align: center;
  color:#f1f1f1
}








/* Footer */

.tiktok-icon,
.facebook-icon,
.instagram-icon{
  margin-top: .625em;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.site-footer > * p {
  color: white; 
  margin: 0 auto; 
}

.footer p {
  text-align: center;
  background-color: #c20605;
  color: white;
  margin-bottom: 0; 
  margin-top: 10px
}

.site-footer {
  background-color: #000000;
  text-align: center;
  bottom:0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 90px;
}

#social-wrapper {
  text-align: center;
}
  
/*Social Media Icons*/
.social-wrapper {
  text-align: center;
}
  
.social-wrapper ul li {
  display: inline;
  margin: 0 5px;
}

