body{
  background-color: #0f0f0f;
}

h1 {
  color:#9b0404;
  text-align: center;
  font-family: Calibri, Helvetica, sans-serif;
}

li.nav-item:hover > a {
    text-decoration: underline;
    cursor: pointer;
    color: #ff6c6c;
}

nav {
    position: fixed;
    top: 0;
    z-index: 2;
}

#nav-mobile {
    display: none;
}

#main-nav-menu-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width: 655px) {
    #nav-desktop {
        display: none;
    }
    
    #nav-mobile {
        display: inline-block;
    }

    #main-nav-logo {
        width: 100%;
    }
}

#scroll-to-top-arrow {
    color: white; 
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    background-color: #c20605;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#scroll-to-top-arrow:hover {
    cursor: pointer;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#scroll-to-top-arrow:active {
    filter: brightness(50%);
}

#main-nav-logo {
    width: 200px;
}

#main-nav-logo > * img {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

#main-nav-logo > * img:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 20%; /* Full height */
    overflow: hidden; /* NO scroll */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    border: 1px solid #ffffff;
    border-radius: 25px;
}

.modal-content {
    background-color:rgb(68, 67, 67);
    color:rgb(0, 0, 0);
    font-family: Calibri, Helvetica, sans-serif;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 100%;
}

#user-nav-profile-modal input{
  font-family: Calibri, Helvetica, sans-serif;
  background-color: black ;
  color:rgb(163, 160, 160);

}

#user-nav-profile-modal button,
#user-nav-profile-modal a{
  font-family: Calibri, Helvetica, sans-serif;
  background-color: black;
  color:rgb(163, 160, 160);
}

#user-nav-profile-modal {
    background-color: #646060b1;
    width: calc(64px * 5 + 10px);
    height: fit-content;
    margin: 0 auto;
    top: 75px;
    margin-right: 17px;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1;

    /* slide downwards transition */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#user-nav-profile {
  display: inline-block;
  position: relative;
  height: 60px;
  padding: 5px;
  margin-right: 15px;
}

#user-nav-profile > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#user-nav-profile-img:hover {
    filter: brightness(70%);
    cursor: pointer;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#user-nav-profile-img:active {
    filter: brightness(50%);
}

/* Cards */
#card {
  margin-bottom: 20px;
  padding-bottom: 5px;
  box-sizing: border;
  font-family: Calibri, Helvetica, sans-serif;
  background-color: #000000;
}

.card {
  border: 3px solid #5c0101;
  color:#000000;
  height: auto;
}

.card div{
  display:flex;
  justify-content: center;
  
  min-height: 20vh;
  background-color:  #8d8282dc;
  margin-bottom: 50px;
}

.card img{
  max-width: 350px;
  border: 3px solid #000000;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

#about-imgs1 img{
  margin-top: 8em;
}

#about-imgs2 img{
  margin-top: 5em;
}

.datacard, 
.mission-slogan, 
.location {
  border: 3px solid #5c0101;
  margin: auto;
  width:90%;
  padding-right: 50px;
  padding-left: 30px;
}

.datacard{
  padding-bottom: 10px;
  padding-top: 20px;
}


.datacard p{
  border-right:20px;
  text-align: justified;
  padding-bottom:3em;
}

.card h1{
  background-color: #000000;
  color:#c20605;
  padding-top: 20px;
  text-align: center;
  margin-top: 0;
  font-size: 40pt;
}

#about-gymtext h2{
  color:#5c0101;
  text-align: left;
  font-size: 30pt;
}


.mission-slogan h2{
  color:#5c0101;
  text-align: center;
  font-size: 30pt;
}

.mission-slogan h3{
  color:#000000;
  font-size: 30pt;
  text-align: center;
}

.mission-slogan p{
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 5px;
  text-align: justified;
}

.location{
  height:45em;
}

.location h2{
  color:#5c0101;
  text-align: center;
  font-size: 30pt;
}

.location h3{
  color:#000000;
  text-align: center;
  font-size: 15pt;
}

#map div{
  border: 3px solid #000000;
}

.map{
  padding-bottom: 50%;
  position: relative;
}

.map iframe{
  height: 25em;
  width: 35em;
  justify-content: center;
  left: 0;
  top: 0;
}


/*Register Page*/

.img-option {
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
    filter: brightness(100%);
    margin-right: 10px;
    margin-left: 10px;
}

.img-option:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.img-option:active {
    filter: brightness(60%);
}

.reg-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  border: 3px solid #5c0101;
  color:black;
  padding-bottom:50px;
  padding-right: 5em;
  padding-left:5em;
  margin-bottom: 5em;
}

.reg-container * {
  box-sizing: border-box;
}

#reg-form h1,
.reg-container h1{
  color: #9b0404;
  font-size: 35pt;
  font-family: Calibri, Helvetica, sans-serif;
}


#reg-form h1{
  color:#5c0101 ;
}

.reg-container p{
  text-align: center;
}

.reg-container hr {
  border: 1px solid #5c0101;
  margin-bottom: 25px;
}

.reg-container ::placeholder { 
  color: rgb(31, 30, 30);
  opacity: 1; 
}

.reg-card {
  border: 3px solid #5c0101;
  padding-top:10px;
  padding-bottom:50px;
  padding-right: 5em;
  padding-left:5em;
  background-color: #8d8282dc;
  color:black;
}

#emgcy-contact h2,
#memberinfo h2{
  font-size: 25pt;
  font-family: Calibri, Helvetica, sans-serif;
  color:#5c0101;
  margin-top:0;
}

.reg-card label{
  font-size: 14pt;
  text-align: left;
  color: #000000;
}

#memberinfo input,
#memberinfo select,
#emgcy-contact input,
#sex option,
#package option,
.reg-card textarea{
  font-size: 18px;
  background-color: #adababdc;
  border: 1px solid #000000;
}

input[type=file]{
  padding: 15px;
  font-size: 16px;
  color:#000000;
}

.registerbtn {
  background-color: #5c0101;
  color: #adababdc;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

#regpg-signin a,
#emgcy-contact a {
  color: #5c0101;
}

.signin {
  padding-top: 25px;
  text-align: center;
  color:black;
}


/* Footer */

.tiktok-icon,
.facebook-icon,
.instagram-icon{
  margin-top: .625em;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.site-footer > * p {
  color: white; 
  margin: 0 auto; 
}

.footer p {
  text-align: center;
  background-color: #c20605;
  color: white;
  margin-bottom: 0; 
  margin-top: 10px
}

.site-footer {
  background-color: #000000;
  text-align: center;
  bottom:0px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 90px;
}

#social-wrapper {
  text-align: center;
}
  
/*Social Media Icons*/
.social-wrapper {
  text-align: center;
}
  
.social-wrapper ul li {
  display: inline;
  margin: 0 5px;
}

/*  testing*/

