body{
  background-color: #0f0f0f;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color:#9b0404;
  text-align: center;
  font-family: Oswald;
}

h2{
    color: #9b0404;
    font-size: 30pt;
    text-align: center;
}


li.nav-item:hover > a {
    text-decoration: underline;
    cursor: pointer;
    color: #ff6c6c;
}

nav {
    position: fixed;
    top: 0;
    z-index: 2;
}

button { filter: brightness(100%); }
button:hover { filter: brightness(80%); }
button:active { filter: brightness(60%); }

.hidden {
    display: none;
}

#alert-messages-nav {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    line-height: 0;
}

#nav-menu-icon span {
    display: block;
    margin: 4px;
    height: 3px;
    width:30px;
    background-color: #c20605;
    border-radius: 2px;
    cursor: pointer; 
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


#nav-menu-checkbox:checked ~ #nav-menu-icon span:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(135deg);
    -moz-transform: translateY(4px) rotate(135deg);
    -o-transform: translateY(4px) rotate(135deg);
    transform: translateY(4px) rotate(135deg);
}

#nav-menu-checkbox:checked ~ #nav-menu-icon span:nth-child(2) { 
    opacity: 0;
}

#nav-menu-checkbox:checked ~ #nav-menu-icon span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-135deg);
    -moz-transform: translateY(-10px) rotate(-135deg);
    -o-transform: translateY(-10px) rotate(-135deg);
    transform: translateY(-10px) rotate(-135deg);
}

#side-panel-menu {
    z-index: 1;
    right: 0;
    position: fixed;
    top: 0;
    margin-top: 74px;
    padding: 10px;
    background-color: black;
    width: 35vw;
    height: 100vh;
    max-height: calc(100vh - 74px);
    max-height: calc(100vh - 74px);
    border-top: 2px white solid;
}

#nav-mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#side-panel-menu a {
    font-size: 1.5rem;
}

#main-nav-menu-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media screen and (max-width: 700px) {
    #nav-desktop {
        display: none;
    }
    
    #nav-mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    #nav-mobile-menu > ul {
        padding-left: 10px;
    }

    nav > li {
        width: 100%;
        max-width: 100%;
    }

    #main-nav-logo {
        width: 100%;
    }
}

#scroll-to-top-arrow {
    color: white; 
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    background-color: #c20605;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#scroll-to-top-arrow:hover {
    cursor: pointer;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#scroll-to-top-arrow:active {
    filter: brightness(50%);
}

#main-nav-logo {
    width: 200px;
}

#main-nav-logo > * img {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

#main-nav-logo > * img:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 20%; /* Full height */
    overflow: hidden; /* NO scroll */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    border: 1px solid #ffffff;
    border-radius: 25px;
}

.modal-content {
    background-color:rgb(68, 67, 67);
    color:rgb(0, 0, 0);
    font-family: Calibri, Helvetica, sans-serif;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 100%;
}

#user-nav-profile-modal input{
    font-family: Calibri, Helvetica, sans-serif;
    background-color: black ;
    color:rgb(163, 160, 160);

}

#user-nav-profile-modal button,
#user-nav-profile-modal a{
    font-family: Calibri, Helvetica, sans-serif;
    background-color: black;
    color:rgb(163, 160, 160);
    font-size: 12px;
}

#user-nav-profile-modal {
    background-color: #646060b1;
    width: calc(64px * 5 + 10px);
    height: fit-content;
    margin: 0 auto;
    top: 75px;
    margin-right: 17px;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1;

    /* slide downwards transition */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#user-nav-profile {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 5px;
}

#user-nav-profile:hover {
    filter: brightness(70%);
    cursor: pointer;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#user-nav-profile:active {
    filter: brightness(50%);
}

#user-nav-profile > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* Footer */
.tiktok-icon,
.facebook-icon,
.instagram-icon{
    margin-top: .625em;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.site-footer > * p {
    color: white; 
    margin: 0 auto; 
}

.footer p {
    text-align: center;
    background-color: #c20605;
    color: white;
    margin-bottom: 0; 
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.site-footer {
    background-color: #000000;
    text-align: center;
    bottom:0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 90px;
}

#social-wrapper {
    text-align: center;
}
  
/*Social Media Icons*/
.social-wrapper {
    text-align: center;
}
  
.social-wrapper ul li {
    display: inline;
    margin: 0 5px;
}

/*horizontal cards template - 4 per line*/
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
.row {
    margin: 0 -5px;
}
  
 
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

/*Scrolling Cards Template - Horizontal*/
.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper .horizontal-card {
    flex: 0 0 auto;
    background-color: #4b4949;
    margin-bottom: 0;
}

.horizontal-card img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.scrolling-wrapper ::-webkit-scrollbar{
    display: none;
}

/*Div Center Template*/
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

/*Text on Img Template*/
.img-container {
    position: relative;
    text-align: center;
    color: white;
}

.img-container h1,
.img-container h2{
    font-size: 30pt;
    color:#000000;
}

.centered {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/*Packages Template*/
.pkgs{
    background-color: #000000;
    padding: 2em;
}

.pkgs * {
    box-sizing: border-box;
  }
.pkgs .card{
    background-color: #222121d5;
}

.pkgs img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/*Template used for the second section 
of facilities and classes pages*/
.card-data{
    font-family: Oswald;
}

.card-data h2{
    font-size: 35pt ;
    color:#000000;
    margin-top: 0;
}

.card-data h3{
    font-size: 25pt ;
    color: #c20605;
}

.card-data p{
    text-align: justify;
    color: #d6d4d4bb;
}

.card-data .card{
    border: 3px solid #9b0404;
    border-radius: 10px;
    text-align: center;
}

/*Button Template*/
#save-profile-btn,
.btn-style {
    width: 200px;
    color: #000000;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #9b0404;
    transition: .3s;
}

input[type="file"]::file-selector-button:hover,
#save-profile-btn:hover,
#register-signin-btn:hover,
.btn-style:hover {
    color: #9b0404;
    background-color: #000000;
    border: 1px solid #5c0101;
    text-decoration: none;
}

/*Form Container Template*/
.form-container{
    padding:5em;
    padding-top: 0;
    padding-bottom:0
}

.form-container ::placeholder { 
    color: #9e9e9e ;
}

/*Back Button Template*/
.back-btn {
    color:#9b0404;
    padding: 5px;
}


/*Home Page*/
#homepage {
    border: 3px solid #9b0404;
    background-color: #000000;
}

/*Home Page - Classes*/
#homepg-classes{
    background-color: #000000;
    margin-bottom: 2em;
}
.slideshow-container {
    font-family: Verdana, sans-serif;
    max-width: 100em;
    position: relative;
}


.slideshow-container * {
    box-sizing: border-box
  }
  
.homepg-slides {
    display: none
}
  
.slideshow-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
  
.prev-arrow, .next-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next-arrow {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev-arrow:hover, .next-arrow:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.slide-caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
.homepg-slide-numbers {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.slidenav-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.slidenav-dot:hover {
    background-color: #717171;
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}


/*Home Page - Packages*/
#homepg-facil {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 4em;
}


/*About Us Page*/
#about-us {
    border: 3px solid #9b0404;
    background-color: #000000;
}

#about-us *{
    box-sizing: border-box;
}

.about-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.about-gym{
    padding: 50px;
    padding-top: 5px;
    text-align: center;
    color: #a8a5a5;
    font-family: Oswald;
}

#mission-text {
    color: #000000;
    font-family: Oswald;
}

#map iframe{
    height: 100%;
    width: 100%;
    justify-content: center;
    filter: grayscale(100%) invert(92%) contrast(83%);
    
}

#map{
    border: 3px solid #000000;
    height:70vh;

}

#about-gymtext {
    text-align: justify;
}

#location p{
    font-size: 12pt;
    font-family: Oswald;
    margin-top: 0;
    margin-bottom: 2em;
    color: #a8a5a5;
}


/*Packages Page*/
#package-page{
    border: 3px solid #9b0404;
}
#pkg-card-data {
    font-family: Oswald;
}
#pkg-card-data h2{
    font-size: 35pt ;
    color:#000000;
}

#pkg-card-data h3{
    font-size: 25pt ;
    color: #c20605;
}

#pkg-card-data p{
    text-align: justify;
    color: #d6d4d4bb;
}

#pkg-card-data .card{
    border: 3px solid #9b0404;
    min-height: 52vh;
    border-radius: 10px;
}

/*Facilities & Classes Pages*/
#edituser-page,
#reg-page,
#facilities-page,
#class-page,
#log-activity-page
{
    background-color: #000000;
    border: 3px solid #9b0404;
}

/*Registration Page*/
#edituser-page,
#reg-page{
    font-family: Oswald;
}

#memberinfo input,
#memberinfo select,
#emgcy-contact input,
#sex option,
#package option,
#memberinfo textarea{
    font-size: 18px;
    background-color: #222121d5;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #9e9e9e;
}

#memberinfo input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1)
            brightness(55%)
            sepia(75%)
            saturate(80%)
            hue-rotate(120deg)
}

input[type=file]{
    padding: 8px;
    font-size: 14px;
}

#terms-condit,
#regpg-signin {
    color:#9e9e9e;
    text-align: center;
}

#terms-condit a{
    color: #9b0404;
}

#regpg-signin {
    margin-bottom: 3em;
    margin-top: 5em;
}

#regpg-signin p{
    margin-bottom:0;
}

input[type="file"]::file-selector-button,
#register-signin-btn{
    background-color: #9b0404;
    border: 1px solid #000000;
    border-radius: 5px;
    color:  #000000;
}

#registerbtn{
    font-family: Oswald;
}

#reg-form > section {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

#reg-form > section.visible {
    opacity: 1;
    transform: translateY(0);
  }

/*Edit-User Page*/
#heading {
    margin-top:20px;
}

#edituser-page .form-container{
    margin-bottom: 3em;
}

#save-profile-btn {
    font-family: Oswald;
}

#profile-edit-btns {
    margin-top: 3em;
    display: flex; 
    flex-direction: row; 
}


/*Profile Page*/
#disabled-image{
    
}


/* wallet starter  */
table {
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
    border: 1px solid black;
}
th{
    padding: 8px;
}
td {
    padding: 8px;
}

th {
    background-color: #ccc;
}

.income {
    background-color: #e6ffe6;
}

.expenses {
    background-color: #ffe6e6;
}