{% extends "layout.html" %}
{% block title %}About Us - Power House Fitness Club{% endblock %}

{{ super() }}

{% block content %}
    <div id="card" class="card">
        {% block page %}<h1><b>ABOUT US</b></h1>{% endblock %}
        <div class="mission-slogan">
            <section>
                <h2><b>POWERHOUSE FITNESS CLUB</b></h2>
                <h3><b>ENERGIZE YOUR DESIRE!</b></h3>
            </section>
        </div>
        <div id="about-gym" class="datacard">
            <section>
                <a id="about-imgs1" href="/"><img src="../static/images/about-gym1.png"></a>
                <a id="about-imgs2" href="/"><img src="../static/images/about-gym2.png"></a>
            </section>
            <section id="about-gymtext">
                <h2><b>THE GYM</b></h2>
                <p><b>Welcome to Powerhouse Fitness Club, a premier location for those looking to transform their 
                    life and accomplish their wellness goals. Our gym is a cutting-edge facility that welcomes 
                    fitness enthusiasts of all skill levels, from amateur  to seasoned ones.
                    <br>
                    <br>
                    At Powerhouse Fitness Club, we're committed to creating a stimulating and encouraging 
                    atmosphere so that our members may reach their fitness goals. You'll never find yourself 
                    waiting too long to utilise the machines or weights that you require thanks to our 
                    knowledgeable trainers' availability and our wide selection of equipment.
                    <br>
                    <br>
                    We offer all that you need to accomplish your goals, whether you're seeking to lose weight, 
                    tone up, build muscle, enhance your overall health, or just boost your power and stamina. 
                    Our sessions, which include yoga, spin, HIIT, strength training, and others, are tailored 
                    for a multitude of fitness levels and preferences.
                    <br>
                    <br>
                    Our mission at Powerhouse Fitness Club is to cultivate a community of like-minded people 
                    who are passionate about health and fitness. We presume that leading a healthy lifestyle 
                    entails not just being physically active but also being mentally and emotionally well. 
                    We provide a variety of wellness services to cater to this, such as dietary advice, 
                    massage therapy, and meditation sessions.
                    <br>
                    <br>
                    Discover the power of exercise by joining the Powerhouse Fitness Club family. 
                    Our goal is to work with you to become the best version of yourself, both inside and out!
                    </b>
                </p>
            </section>
        </div>
        <div class="mission-slogan">
            <section>
                <h2><b>MISSION STATEMENT</b></h2>
                <p><b>At Powerhouse Fitness Club, we're dedicated to supplying our members the support and resources 
                    required to accomplish their  health and fitness goals via personalised training, revolutionary 
                    equipment, and a welcoming environment. Our main goal is to provide an inviting atmosphere 
                    where people of any level of athleticism may feel at home and be inspired to take better care of 
                    their physical and emotional health. We work hard to be a  trusted partner for our members as they 
                    pursue a healthy lifestyle, providing them with ample resources to do so.
                    </b>
                </p>
            </section>
        </div>
        <div class="location">
            <section >
                <h2><b>LOCATION</b></h2>
                <h3><b>Located near East Gates Mall.
                    <br>
                     Trincity Central Road, Trincity.
                    </b>
                </h3>
                <br>
                <section id="map" class="map"> 
                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d980.3250481752212!2d-61.34761367149306!3d10.633770917415283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c36011ae41f6d8d%3A0x359676dc379094ec!2sEast%20Gates%20Mall!5e0!3m2!1sen!2stt!4v1681930515320!5m2!1sen!2stt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </section>
            </section>
        </div>
    </div>
{% endblock %}