{% extends "layout.html" %}
{% block title %}Acitivty Tracking - Powerhouse Fitness Club{% endblock %}
{% block page %}Acitivty Tracking{% endblock %}
{{ super() }}

{% block content %}
<section>
    <div id="wallet-content">
        <h1><b>ACTIVITY TRACKING</b></h1>
        <div style="background: white; display: flex; flex-direction: column; justify-content: center; align-items: center">
            <a class="button" href="/profile"><b>&larr;My Profile</b></a>
            <h2>MY ACTIVITY THIS WEEK</h2>
            <div style="background: white" class="card">
                <canvas id="activity-chart" style="width:100%; max-width:600px"></canvas>
            </div>
            <br><br>
            <h2>ALL MY ACTIVITY</h2>
            <div class="card">
                <table style="width: 600px">
                    <tr>
                        <th>Date</th>
                        <th>Pre-Workout</th>
                        <th>Energy Level</th>
                        <th>Details</th>
                    </tr>
                    {% for activity in activities %}
                        <tr>
                            <td>{{ activity.date }}</td>
                            <td>{{ activity.pre_workout }}</td>
                            <td>{{ activity.energy_level }}</td>
                            <td>{{ activity.details }}</td>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        let activities = {{ activities | tojson }};

        function compareDates(date1, date2) {
            return date1.getTime() === date2.getTime();
        }

        function buildShortDate(date) {
            return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
        }

        function getCurrentWeekDates() {
            const dates = [];
            const today = new Date();
            const dayOfWeek = today.getDay();
            const diff = today.getDate() - dayOfWeek + (dayOfWeek === 0 ? -6 : 1);
            const monday = new Date(today.setDate(diff));
            for (let i = 0; i < 7; i++) {
                const date = new Date(monday);
                date.setDate(monday.getDate() + i);
                dates.push(date.toISOString().slice(0, 10));
            }
            return dates;
        }

        let data = [], dates = getCurrentWeekDates();
        let count = 0;
        for (let i = 0; i < dates.length; i++) {
            let d1 = new Date(dates[i]);
            for (let j = 0; j < activities.length; j++) {
                let d2 = new Date(activities[j].date);
                if (compareDates(d1, d2)) count++;
            }
            data.push(count);
        }

        console.log(data);
        
        new Chart (
            document.querySelector("#activity-chart"), {
                type: "bar",
                data: {
                    labels: dates,
                    datasets: [
                        {
                            label: "Number of Workouts",
                            pointRadius: 4,
                            pointBackgroundColor: "rgba(0,0,255,1)",
                            data: data.map(count => count)
                        }
                    ]
                }
            }
        );
    </script>
</section>
{% endblock %}