{% extends "layout.html" %}
{% block title %}Add/Drop Classes - Powerhouse Fitness Club{% endblock %}
{% block page %}Add/Drop Classes{% endblock %}
{{ super() }}

{% block content %}
<section id="add-drop-page" class="page-styling">
    <a class="back-btn" href="/profile"><b>&larr; My Profile</b></a>
    <h1><b>ADD/DROP CLASSES</b></h1>
    <section class="img-container">
        <img class="about-img" src="https://www.w3schools.com/howto/img_nature_wide.jpg">
        <div class="centered">
            <h1><b>AVAILABLE CLASSES</b></h1>
            <p>Select the "join" button for class you wish to participate in. <br>
                Credit will be added to your account upon selection. <br>
                To drop a class please select the "drop" button. <br>
                Your credit will reflect this change. 
            </p>
        </div>
    </section>
    <section id="classpg-datacards" class="pkgs">
        <div class="card-data" class="row">
            {% for class in classes %}
            <div id="{{class.name.lower()}}-class" class="center hidden">
                <section class="card" >
                    <h2>{{class.name}}</h2>
                    <hr>
                    <h3>Instructor: {{class.instructor}}</h3>
                    <hr>
                    <p>{{class.description}}</p>
                    {% if class.name in user_classes %}
                        <form action="/profile/remove-class" method="post">
                            <input type="hidden" name="class-id" value="{{class.id}}">
                            <input type="hidden" name="class-name" value="{{class.name}}">
                            <input type="hidden" name="class-price" value="200">
                            <button class="btn-style"><b>DROP</b></button>
                        </form>
                    {% elif user_package.type in class.package.split(', ')%}
                        <form action="/profile/add-class" method="post">
                            <input type="hidden" name="class-id" value="{{class.id}}">
                            <input type="hidden" name="class-name" value="{{class.name}}">
                            <input type="hidden" name="class-price" value="200">
                            <button class="btn-style"><b>ADD</b></button>
                        </form>
                    {% else %}
                        <form action="/profile/add-class-fitcoin" method="post">
                            <input type="hidden" name="class-id" value="{{class.id}}">
                            <input type="hidden" name="class-name" value="{{class.name}}">
                            <input type="hidden" name="class-price" value="200">
                            <h4><b>REQUIRES PREMIUM <br>OR<br>GROUP PACKAGE</b><h4></h4>
                            <button class="btn-style"><b>ADD USING 200 FITCOINS</b></button>
                        </form>
                    {% endif %}
                </section>
            </div>
            {% endfor %}
            <a id="view-more-btn" class="btn-style" onclick="viewMoreClasses({{num_to_display}});"><b>View More</b></a>
        </div>
        <script>
            let num_displayed = {{num_to_display | safe}};

            function showDatacards(num) {
                let container = document.querySelectorAll("#classpg-datacards > div > div");
                console.log(container);
                for (let i = 0; i < num; i++) {
                    container[i].classList.remove("hidden");
                }
            }

            function viewMoreClasses(num) {
                classes = {{classes | safe}};
                num_displayed += num;
                if (num_displayed >= classes.length) {
                    num_displayed = classes.length;
                    document.getElementById("view-more-btn").style.display = "none";
                }
                showDatacards(num_displayed);
            }

            showDatacards(num_displayed);
        </script>
    </section>
</section>
{% endblock %}