{% extends "layout.html" %}
{% block title %}Classes - Powerhouse Fitness Club{% endblock %}
{% block page %}Classes{% endblock %}
{{ super() }}

{% block content %}
<section>
    <div id="classes-content" class="card">
        <h1>Classes Offered</h1>
        <div class="vertical-gallery">
            {% for class in classes %}
                <div id="{{class.name.lower()}}-class" class="pkg-piece">
                    <section id="pkg-img">
                        <img  src="../static/images/about-gym1.png" alt="Class 1">
                    </section>
                    <section class="class-descrpt">
                        <h2><b>{{class.name}}</b></h2>
                        <hr>
                        <p><b>{{class.desc}}</b></p>
                        <hr>
                        <h4><b>Instructed by {{class.instructor}}<b></h4>
                    </section>
                </div>
            {% endfor %}
        </div>
    </div>
  </section>
{% endblock %}