{% extends "layout.html" %}
{% block title %}Classess Offered - Powerhouse Fitness Club{% endblock %}
{% block page %}vClassess Offered{% endblock %}

{{ super() }}

{% block content %}
<section>
    <h1>Classes Offered</h1>
    <div class="gallery">
      <div class="pkg-piece">
        <img src="class2.jpg" alt="Class 1">
        <div class="pkg-descrpt">
          <h2 class="pkg-typ">Package 1</h2>
          <p>A comprehensive course covering various topics.</p>
          <h4>$1000.00</h4>
        </div>
      </div>
  
      <div class="pkg-piece">
        <img src="class3.jpg" alt="Class 2">
        <div class="pkg-descrpt">
          <h2 class="pkg-typ">Class 1</h2>
          <p>An introductory course covering the basics.</p>
          <h4>$750.00</h4>
        </div>
      </div>
  
      <div class="pkg-piece">
        <img src="class1.jpg" alt="Class 3">
        <div class="pkg-descrpt">
          <h2 class="pkg-typ">Class 2</h2>
          <p>An advanced course covering specialized topics.</p>
          <h4>$1200.00</h4>
        </div>
      </div>
    </div>
  </section>
{% endblock %}