{% extends "layout.html" %}
{% block title %}Classes - Powerhouse Fitness Club{% endblock %}
{% block page %}Classes{% endblock %}
{{ super() }}

{% block content %}
<section id="class-page">
    <h1><b>OUR CLASSES</b></h1>
    <section id="classpg-gallery">
        <section class="slideshow-container">
            <div class="homepg-slides fade">
                <div class="homepg-slide-numbers">1 / 7</div>
                <img src="../static/images/classes/yoga.jpg">
                <div class="slide-caption">Yoga</div>
            </div>
            
            <div class="homepg-slides fade">
                <div class="homepg-slide-numbers">2 / 7</div>
                <img src="../static/images/classes/spin.jpg">
                <div class="slide-caption">Spin</div>
            </div>
            
            <div class="homepg-slides fade">
                <div class="homepg-slide-numbers">3 / 7</div>
                <img src="../static/images/classes/bootcamp.jpg">
                <div class="slide-caption">Bootcamp</div>
            </div>
            
            <div class="homepg-slides fade">
                <div class="homepg-slide-numbers">4 / 7</div>
                <img src="../static/images/classes/combat.jpg">
                <div class="slide-caption">Combat</div>
            </div>
            
            <div class="homepg-slides fade">
                <div class="homepg-slide-numbers">5 / 7</div>
                <img src="../static/images/classes/barre.jpg">
                <div class="slide-caption">Barre</div>
            </div>
            
            <div class="homepg-slides fade">
                <div class="homepg-slide-numbers">6 / 7</div>
                <img src="../static/images/classes/pilates.jpg">
                <div class="slide-caption">Pilates</div>
            </div>
            
            <div class="homepg-slides fade">
                <div class="homepg-slide-numbers">7 / 7</div>
                <img src="../static/images/classes/active-aging.jpg">
                <div class="slide-caption">Active Aging</div>
            </div>
            
            <a class="prev-arrow" onclick="changeSlide(-1)">❮</a>
            <a class="next-arrow" onclick="changeSlide(1)">❯</a>
        </section>
        <br>
        <div style="text-align:center">
            <span class="slidenav-dot" onclick="currentSlide(1)"></span> 
            <span class="slidenav-dot" onclick="currentSlide(2)"></span> 
            <span class="slidenav-dot" onclick="currentSlide(3)"></span> 
        </div>
        <script>
            let slideIndex = 1;
            showSlides(slideIndex);
            
            function changeSlide(slide) {
                showSlides(slideIndex += slide);
            }
            
            function currentSlide(slide) {
                showSlides(slideIndex = slide);
            }
            
            function showSlides(slide) {
                let i;
                let slides = document.getElementsByClassName("homepg-slides");
                let dots = document.getElementsByClassName("slidenav-dot");
                if (slide > slides.length) {
                    slideIndex = 1;
                }    
                if (slide < 1) {
                    slideIndex = slides.length;
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";  
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace("active", "");
                }
                slides[slideIndex-1].style.display = "block";  
                dots[slideIndex-1].className += " active";
            }
        </script>
    </section>
    <section id="classpg-datacards" class="pkgs">
        <h1><b>AVAILABLE CLASSES</b></h1>
        <div class="card-data" class="row">
            {% for class in classes %}
            <div class="center">
                <section id="{{class.name.lower()}}-class" class="card" >
                    <h2>{{class.name}}</h2>
                    <hr>
                    <h3>Instructor: {{class.instructor}}</h3>
                    <hr>
                    <p>{{class.desc}}</p>
                </section>
            </div>
            {% endfor %}
            <a href="#" class="btn-style"><b>View More</b></a>
        </div>    
    </section>
</section>
{% endblock %}