{% extends "layout.html" %}
{% block title %}Forum - Powerhouse Fitness Club{% endblock %}
{% block page %}Forum{% endblock %}
{{ super() }}

{% block content %}
<section id="discussion-page" class="page-styling">
    <a class="back-btn" href="/forum"><b>&larr; Forum</b></a>
    <div id="forum-discussion-content">
        <section>
            <h1><b>{{discussion.title}}</b></h1>
            <h2>Started by @{{get_user(discussion.started_by).username}}</h2>
        </section>
        <hr><br>
        <section>
            <div id="msg-chain" class="messages">
                <div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="card hidden">
                                <h3>@{{get_user(message.user_id).username}} | {{message.datetime}}</h3>
                                <hr>
                                <p>{{message.content}}</p>
                                {% if message.external_link %}
                                <a id="ext-link-btn" href="{{message.external_link}}" target="_blank"><b>Visit External Link</b></a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No messages yet. Say something!</p>
                    {% endif %}
                    <a id="load-more-btn" class="btn-style" onclick="loadMoreDiscussions({{num_to_display | safe}})"><b>Load More</b></a>
                </div>
            </div>
        </section>
        <hr><br>
        <section id="add-msg" class="page-container">
            <h2><b>JOIN THE DISCUSSION!</b></h2>
            <form action="/forum/{{discussion.id}}/create-message" method="post" class="card">
                <textarea name="content" placeholder="Message"></textarea>
                <input name="external_link" placeholder="External Link">
                <div class="messages">
                    <button class="btn-style" type="submit"><b>Send Message</b></button>
                </div>
            </form>
        </section>
    </div>
    <script>
        let num_displayed = 0;

        function showDatacards(num) {
            let divs = document.querySelectorAll("#msg-chain > div > div.hidden");
            console.log(divs);
            if (num >= divs.length){
                num=divs.length;
                document.getElementById("load-more-btn").style.display = "none";
            }
            for (let i = 0; i < num; i++) divs[i].classList.remove("hidden");
        }

        function loadMoreDiscussions(num) {
            let divs = document.querySelectorAll("#msg-chain > div");
            num_displayed += num;
            if (num_displayed >= divs.length) {
                num_displayed = divs.length;
            }
            showDatacards(num);
        }

        loadMoreDiscussions({{num_to_display | safe}});
    </script>
</section>
{% endblock %}


