{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block page %}Profile{% endblock %}

{{ super() }}

{% block content %}
<section id="edituser-page">
    <a class="back-btn" href="/profile"><b>&larr; My Profile</b></a>
    <h1 id="heading"><b>EDIT PROFILE</b></h1>
    <section class="img-container">
        <img class="about-img" src="https://www.w3schools.com/howto/img_nature_wide.jpg">
        <div class="centered">
            <h1><b>MEMBER'S PROFILE INFORMATION</b></h1>
            <p>Select the buttons at the bottom of the page to edit & save changes.</p>
        </div>
    </section>
    <section class="form-container">
        <form id="edit-profile-form" action="/profile/update-user" enctype="multipart/form-data" method="post">
            <section id="memberinfo">
                <h2><b>MEMBER INFORMATION</b></h2>
                <label for="username"><b>USERNAME</b></label>
                <input type="text" placeholder=" Enter username" name="username" id="username" value="{{user.username}}" required readonly="readonly">
                <br><br>
                <label for="firstname"><b>FIRST NAME</b></label>
                <input type="text" placeholder=" First name" name="firstname" id="firstname" value="{{user.fname}}" required readonly="readonly">
                <br><br>
                <label for="lastname"><b>LAST NAME</b></label>
                <input type="text" placeholder=" Last name" name="lastname" id="lastname" value="{{user.lname}}" required readonly="readonly">
                <br><br>
                <label for="date"><b>DATE OF BIRTH <br>[Select Calendar Icon In Edit Mode]</b></label>
                <br>
                <input type="date" name="dob" id="dob" value="{{user.dob}}" required readonly="readonly">
                <br><br>
                <label for="sex"><b>SEX</b></label>
                <select id="disabled-sex" disabled>
                    <option>{{user.sex.capitalize()}}</option>
                </select>
                <select class="hidden" name="sex" id="sex" readonly="readonly">
                    <option {{'selected' if user.sex == 'male'}} value="male">Male</option>
                    <option {{'selected' if user.sex == 'female'}} value="female">Female</option>
                    <option {{'selected' if user.sex == 'other'}} value="other">Other</option>
                </select>
                <br><br>
                <label for="package-id"><b>PACKAGE</b></label><br>
                <select id="disabled-package" disabled>
                    <option>{{user_package.type}}</option>
                </select>
                <select class="hidden" name="package-id" id="package" readonly="readonly">
                    {% for package in packages %}
                        {% if user.package_id == package.id %}
                            <option id="{{package.type.lower()}}-package" value="{{package.id}}" selected>{{package.type}}</option>
                        {% else %}
                            <option id="{{package.type.lower()}}-package" value="{{package.id}}">{{package.type}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br><br>
                <label for="address"><b>ADDRESS</b></label><br>
                <textarea rows="4" cols="50" id="address" name="address" placeholder=" Resident address" readonly="readonly">{{user.address}}</textarea>
                <br><br>
                <label for="contactno"><b>CONTACT NUMBER</b></label>
                <input type="text" placeholder=" Contact phone number" name="contactno" id="contactno" value="{{user.phone}}" required readonly="readonly">
                <br><br>
                <label for="email"><b>EMAIL</b></label>
                <input type="text" placeholder=" Email address" name="email" id="email" value="{{user.email}}" required readonly="readonly">
                <br><br>
                <div id="password-container" class="hidden">
                    <label for="password"><b>NEW PASSWORD</b></label>
                    <input type="password" placeholder=" Enter a new password" name="password" id="password" readonly="readonly">
                    <br><br>
                    <label for="password-repeat"><b>REPEAT PASSWORD</b></label>
                    <input type="password" placeholder=" Confirm your password" name="password-repeat" id="password-repeat" readonly="readonly">
                    <br><br>
                </div>
                <div id="profile-image-container" style="display: flex; flex-direction: column; justify-content: space-between;">
                    <label for="image"><b>PROFILE PHOTO</b></label><br>
                    <div style="display: flex; justify-content: center; align-items: center">
                        <img id="profile-image-preview" style="margin-top; 20px; width: 300px; border: 1px solid black; border-radius: 14px" src="data:image/png;base64,{{user.image.decode()}}">
                    </div>
                    <input class="hidden" type="file" name="image" id="image" style="margin-top: 20px; width:100%; color: black">
                </div>
                <br><br>
                <hr>
            </section>

            <section id="emgcy-contact">
                <h2><b>EMERGENCY CONTACT INFORMATION</b></h2>
                <label for="emgcy-fname"><b>FIRST NAME</b></label>
                <input type="text" placeholder=" First name" name="emgcy-fname" id="emgcy-fname" value="{{emergency_contact.fname}}" required readonly="readonly">
                <br><br>
                <label for="emgcy-lname"><b>LAST NAME</b></label>
                <input type="text" placeholder=" Last name" name="emgcy-lname" id="emgcy-lname" value="{{emergency_contact.lname}}" required readonly="readonly">
                <br><br>
                <label for="relationship"><b>RELATIONSHIP TO MEMBER</b></label>
                <input type="text" placeholder=" Relationship to member" name="relationship" id="relationship" value="{{emergency_contact.relationship}}" required readonly="readonly">
                <br><br>
                <label for="emgcy-contactno"><b>CONTACT NUMBER</b></label>
                <input type="text" placeholder=" Contact phone number" name="emgcy-contactno"  id="emgcy-contactno" value="{{emergency_contact.contact}}" required readonly="readonly">
                <br><br>
                <hr>
            </section>
            <section id="profile-edit-btns">
                <a id="edit-profile-btn" class="btn-style" onclick="makeProfileEditable();"><b>EDIT</b></a>
                <a id="cancel-edit-profile-btn" class="btn-style" style="display: none"><b>CANCEL</b></a>
                <button type="submit" id="save-profile-btn" class="btn-style" style="display:none"><b>SAVE</b></button>
            </section>
        </form>
    </section>
</section>
{% endblock %}