{% extends "layout.html" %}
{% block title %}Facilities - Powerhouse Fitness Club{% endblock %}
{% block page %}Facilities{% endblock %}
{{ super() }}

{% block content %}
<section id="facilities-page" class="page-styling">
    <h1><b>OUR FACILITIES</b></h1>
    <section id="facilpg-gallery">
        <section class="slideshow-container">
            {% for facility in facilities %}
                <div class="homepg-slides fade">
                    <div class="homepg-slide-numbers">{{ facility.id }} / {{flen}}</div>
                    <img src="../static/images/facilities/{{facility.filename}}"
                    onclick="(()=>{viewMoreFacilities({{facility.id}});document.querySelector('#{{"-".join(facility.name.lower().split(' '))}}-facility').scrollIntoView({behavior:'smooth'});})();">
                    <div class="slide-caption">{{facility.name}}</div>
                </div>
            {% endfor %}
            <a class="prev-arrow" onclick="changeSlide(-1)">❮</a>
            <a class="next-arrow" onclick="changeSlide(1)">❯</a>
        </section>
        <br>
        <div style="text-align:center">
            {% for i in range(1, flen + 1) %}
                <span class="slidenav-dot" onclick="currentSlide({{i}})"></span>
            {% endfor %}
        </div>
        <script>
            let slideIndex = 1;
            showSlides(slideIndex);
            
            function changeSlide(slide) {
                showSlides(slideIndex += slide);
            }
            
            function currentSlide(slide) {
                showSlides(slideIndex = slide);
            }
            
            function showSlides(slide) {
                let i;
                let slides = document.getElementsByClassName("homepg-slides");
                let dots = document.getElementsByClassName("slidenav-dot");
                if (slide > slides.length) {
                    slideIndex = 1;
                }    
                if (slide < 1) {
                    slideIndex = slides.length;
                }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";  
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace("active", "");
                }
                slides[slideIndex-1].style.display = "block";  
                dots[slideIndex-1].className += " active";
            }
        </script>
    </section>
    <section id="facilpg-datacards" class="pkgs">
        <h1><b>AVAILABLE FACILITIES</b></h1>
        <div class="card-data" class="row">
            {% for facility in facilities %}
            <div id="{{"-".join(facility.name.lower().split(' '))}}-facility" class="center hidden">
                <section class="card">
                    <h2>{{facility.name}}</h2>
                    <hr>
                    <p>{{facility.description}}</p>
                </section>
            </div>
            {% endfor %}
            <a id="view-more-btn" class="btn-style" onclick="viewMoreFacilities(2)"><b>View More</b></a>
        </div>
        <script>
            let num_displayed = {{num_to_display | safe}};

            function showDatacards(num) {
                let container = document.querySelectorAll("#facilpg-datacards > div > div");
                console.log(container);
                for (let i = 0; i < num; i++) {
                    container[i].classList.remove("hidden");
                }
            }

            function viewMoreFacilities(num) {
                facilities = {{facilities | safe}};
                num_displayed += num;
                if (num_displayed >= facilities.length) {
                    num_displayed = facilities.length;
                    document.getElementById("view-more-btn").style.display = "none";
                }
                showDatacards(num_displayed);
            }

            showDatacards(num_displayed);
        </script>
    </section>
</section>
        
{% endblock %}


