{% extends "layout.html" %}
{% block title %}Forum - Powerhouse Fitness Club{% endblock %}
{% block page %}Forum{% endblock %}
{{ super() }}

{% block content %}
<section id="forum-page" class="page-styling">
    <h1><b>Powerhouse Fitness Club Forum</b></h1>
    <section class="img-container">
        <img class="about-img" src="../static/images/headers/header5.png">
        <div class="centered">
            <h1><b>ENGAGE WITH THE FITNESS COMMUNITY</b></h1>
            <!-- <p>Hey there gym goers! As an avenue for our members to stay connected with each other beyond the gym walls, 
                we are thrilled to launch this forum. We hope you'll find the area to be a resourceful avenue for fitness 
                advice, inspiration, and support, whether you've been a regular for some time or only recently began. 
                Please take this opportunity to introduce yourself and share with us your fitness goals.
                We want to hear from you, the members!</p> -->
            <p>As an avenue for our members to stay connected with each other beyond the gym walls, 
                we are thrilled to launch this forum. We hope that our members find this area to be a resourceful avenue 
                for fitness advice, inspiration and support.</p>
        </div>
    </section>
    <section>
        <section id="forum-content">
            <form action="/forum/filter" method="post">
                <div id="forum-search">
                    <input type="text" placeholder=" Search" name="query">
                    <button id="forum-search-btn" type="submit">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div>
            </form>
            <hr>
            
            <section id="discussion">
                <h2><b>JOIN THE DISCUSSION!</b></h2>
                {% if discussions %}
                    {% if filter %}
                        <p>Showing results for '{{query}}'</p>
                    {% endif %}
                    {% for discussion in discussions %}
                    <a href="/forum/{{discussion.id}}" class="hidden">
                        <div id="discussion-descrpt" >
                            <div class="card">
                                <h3>{{discussion.title}}</h3>
                                <p>Started by @{{get_user(discussion.started_by).username}}</p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    {% if filter %}
                        <span id="clear-filter-btn" class="btn-style" onclick="location.href='/forum'">Clear Filter</span>
                    {% endif %}
                {% elif filter %}
                    <p>No discussions with title '{{query}}'</p>
                    <span id="clear-filter-btn" class="btn-style" onclick="location.href='/forum'">Clear Filter</span>
                {% else %}
                    <p>No discussions</p>
                {% endif %}
                <span id="view-more-btn" class="btn-style" onclick="loadMoreDiscussions({{num_to_display | safe}});"><b>Load More</b></span>
            </section>
            <br><hr>
            <section id="strt-discuss" class="page-container">
                <h2><b>START YOUR OWN DISCUSSION!</b></h2>
                <form action="/start-discussion" method="post" id="discuss-form" class="card">
                    <input type="text" name="title" placeholder="Title of Discussion">
                    <textarea name="content" placeholder="Message" required></textarea>
                    <input name="external_link" placeholder="External Link">
                    <div>
                        <button class="btn-style" type="submit"><b>Create Discussion</b></button>
                    </div>
                </form>
            </section>
        </section>
    </section>
    <script>
        let num_displayed = 0;

        function showDatacards(num) {
            let divs = document.querySelectorAll("#discussion > a.hidden");
            console.log(divs);
            if (num >= divs.length){
                num=divs.length;
                document.getElementById("view-more-btn").style.display = "none";
            }
            for (let i = 0; i < num; i++) divs[i].classList.remove("hidden");
        }

        function loadMoreDiscussions(num) {
            let divs = document.querySelectorAll("#discussion > a");
            num_displayed += num;
            console.log(num_displayed);
            if (num_displayed >= divs.length) {
                num_displayed = divs.length;
            }
            showDatacards(num);
        }

        loadMoreDiscussions({{num_to_display | safe}});
    </script>
</section>
{% endblock %}


