<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <style>
        select {
            display: inline-block;
            line-height: 0.2em;
            font-size: 14px;
            border: 1px solid white;
            border-radius: 5px;
        }

        .input-field {
            margin-top: 7px;
            margin-bottom: 7px;
        }

        button, input {
            background-color: #c20605;
        }

        .input-field > label:not(.label-icon).active {
            transform: translateY(-9px);
        }
    </style>
    <script src="../static/main.js"></script>
    <script>
        const slideModalDown = [
            { transform: 'translateY(-100%)' },
            { transform: 'translateY(0)' }
        ];

        const slideModalUp = [
            { transform: 'translateY(0)' },
            { transform: 'translateY(-100%)' }
        ];

        const animationDelay = 550;
        const slideTiming = { duration: animationDelay, easing: 'ease-in-out'};

        document.addEventListener('DOMContentLoaded', function () {
            let userNavProfile = document.querySelector('div#user-nav-profile');
            let userNavProfileModal = document.getElementById('user-nav-profile-modal');

            userNavProfile.onclick = function () {
                userNavProfileModal.style.display = 'block';
                userNavProfileModal.animate(slideModalDown, slideTiming);
                userNavProfile.firstChild.style.filter = 'brightness(70%)';
                return;
            }
        });

        // If the user clicks anywhere outside of the modal (denoted by bounding box), close it
        window.onclick = function (event) {
            let userNavProfile = document.querySelector('div#user-nav-profile');
            if (event.target.id === 'user-nav-profile-img') return;
            let userNavProfileModal = document.getElementById('user-nav-profile-modal');
            let navProfileModalBoundingBox = userNavProfileModal.getBoundingClientRect();

            let x = event.clientX, y = event.clientY;
            console.info(`Conditions to close: \
            \n${x} < ${navProfileModalBoundingBox.left}: ${x < navProfileModalBoundingBox.left}\
            \n${y} > ${navProfileModalBoundingBox.bottom}: ${y > navProfileModalBoundingBox.bottom}`);
            
            if (x < navProfileModalBoundingBox.left || y > navProfileModalBoundingBox.bottom) {
                userNavProfileModal.animate(slideModalUp, slideTiming);
                setTimeout(function () {
                    userNavProfileModal.style.display = 'none';
                }, animationDelay);
                userNavProfile.firstChild.style.filter = 'brightness(100%)';
                return;
            }
        }
    </script>
</head>
<body>
    <nav id="main-nav" class="black" style="height: 74px">
        <div class="nav-wrapper">
            <div class="nav-wrapper" style="display: flex; flex-direction: row; justify-content: space-between">
                <div id="main-nav-logo">
                    <a href="/"><img src="../static/images/logo.png"></a>
                </div>
                <div>
                    <ul id="nav-mobile" class="right" style="margin-top: 5px;">
                        <li class="nav-item"><a href="/about">About Us</a></li>
                        <li class="nav-item"><a href="/packages">Packages</a></li>
                        <li class="nav-item"><a href="/facilities">Facilities</a></li>
                        <li class="nav-item"><a href="/classes">Classes</a></li>
                        <li class="nav-item">
                            <div id="user-nav-profile"><img id="user-nav-profile-img" src="../static/images/male.jpg"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br><br><br><br>

    <div id="user-nav-profile-modal" class="container modal">
        {% if not user %}
            <div class="modal-content" style="margin: 0 auto">
                <h4 style="line-height: 0.5em; font-size: 25px; margin-bottom: 25px;">Login</h4>
                <form action="/login" method="post">
                    <div class="input-field">
                        <input type="text" name="username-email">
                        <label for="username-email" style="font-size: 12px">Username/Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password">
                        <label for="password" style="font-size: 12px;">Password</label>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between">
                        <div class="input-field" style="font-size: 14px;">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
                        </div>
                        <div class="input-field">
                            <a href="/register" class="btn waves-effect waves-light">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="modal-content" style="margin: 0 auto">
                <h4>{{user.fname}} {{user.lname}}</h4>
                <p style="margin: 0 auto;">{{user.email}}</p>
                <form action="/logout" method="post">
                    <div class="input-field">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Logout</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <nav class="red white-text" style="padding: 10px; max-width: 100%">
                <div class="nav-wrapper">
                    <ul class="flashes">
                        {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                    </ul>
                </div>
            </nav>
        {% endif %}
    {% endwith %}

    <div class="container" id="content">
        {% block content %}
          {% block page %}{% endblock %}</a>
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  </body>
  <footer class="site-footer">
    <div class="container" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 30px">
        <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center">
            <p style="margin-top: 10px">Address</p>
            <p>Contact</p>
        </div>
        <div class="social-wrapper">
          <ul style="margin: 0 auto">
            <li>
              <a href="https://www.tiktok.com/" >
                <img src="../static/images/tiktok.png" alt="TikTok Logo" class="tiktok-icon">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/" >
                <img src="../static/images/facebook.png" alt="Facebook Logo" class="facebook-icon">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" >
                <img src="../static/images/instagram.png" alt="Instagram Logo" class="instagram-icon">
              </a>
            </li>
          </ul>
        </div>
    </div>
    <div class="footer">
      <p>© 2023 Copyright - All rights reserved | Powerhouse Fitness Club </p>
    </div>
  </footer>
</html>
