<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <nav class="purple">
        <div class="nav-wrapper">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="left">
                    <li><div id="main-nav-logo">
                        <a href="/">
                            <!-- src to point to static link for brand logo -->
                            <i src="../App/images/logo.png">Home</i>
                        </a>
                    </div></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/packages">Packages</a></li>
                    <li><a href="/facilities">Facilities</a></li>
                    <li><a href="/classes">Classes</a></li>
                    <li>
                        <div id="user-nav-profile">
                            <img src="../static/images/male.jpg"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <nav class="white black-text" style="padding: 10px">
                <div class="nav-wrapper">
                    <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </nav>
        {% endif %}
    {% endwith %}

    <div class="container" id="content">
        {% block content %}
            {% block page %}{% endblock %}</a>
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <footer class="site-footer">
      <div class="social-wrapper">
        <ul>
          <li>
            <a href="https://www.tiktok.com/" >
              <img src="../static/images/tiktok.png" alt="TikTok Logo" class="tiktok-icon"></a>
          </li>
          <li>
            <a href="https://www.facebook.com/" >
              <img src="../static/images/facebook.png" alt="Facebook Logo" class="facebook-icon"></a>
          </li>
          <li>
            <a href="https://www.instagram.com/" >
              <img src="../static/images/instagram.png" alt="Instagram Logo" class="instagram-icon"></a>
          </li>
        </ul>
      </div>
    
      <nav class="footer-nav">
        <p>© 2023 Copyright - All rights reserved | Powerhouse Fitness Club </p>
      </nav>
    </footer>
  </body>
</html>
