<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    <style>
        select {
            display: inline-block;
            line-height: 0.2em;
            font-size: 14px;
            border: 1px solid white;
            border-radius: 5px;
        }

        #nav-menu-checkbox span {
            line-height: 1px;
            color: white;
        }

        .input-field {
            margin-top: 7px;
            margin-bottom: 7px;
        }

        button, input {
            background-color: #c20605;
        }

        .input-field > label:not(.label-icon).active {
            transform: translateY(-9px);
        }
    </style>
    <script src="../static/main.js"></script>
</head>
<body>
    <nav id="main-nav" class="black" style="height: 74px">
        <div class="nav-wrapper">
            <div class="nav-wrapper" style="display: flex; flex-direction: row; justify-content: space-between">
                <div id="main-nav-logo">
                    <a href="/"><img src="../static/images/logo.png"></a>
                </div>
                <div id="main-nav-menu-bar">
                    <ul id="nav-desktop" class="right" style="margin-top: 5px;">
                        <li class="nav-item"><a href="/about">About Us</a></li>
                        <li class="nav-item"><a href="/packages">Packages</a></li>
                        <li class="nav-item"><a href="/facilities">Facilities</a></li>
                        <li class="nav-item"><a href="/classes">Classes</a></li>
                    </ul>
                    <ul style="margin-top: 5px">
                        <li class="nav-item">
                            {% if user %}
                                <div id="user-nav-profile"><img id="user-nav-profile-img" src="{{user.image}}"></div>
                            {% else %}
                                <div id="user-nav-profile"><img id="user-nav-profile-img" src="../static/images/default-user.png"></div>
                            {% endif %}
                        </li>
                    </ul>
                    <div id="nav-mobile" class="hidden" style="margin-right: 20px">
                        <input class="hidden" type="checkbox" id="nav-menu-checkbox" onclick="toggleNavMobileMenu();">
                        <label for="nav-menu-checkbox" id="nav-menu-icon">
                            <span></span><span></span><span></span>
                        </label>
                        <div id="side-panel-menu" class="hidden">
                            <ul id="nav-mobile-menu">
                                <li class="nav-item"><a href="/about">About Us</a></li>
                                <li class="nav-item"><a href="/packages">Packages</a></li>
                                <li class="nav-item"><a href="/facilities">Facilities</a></li>
                                <li class="nav-item"><a href="/classes">Classes</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <br><br><br><br>

    <div id="user-nav-profile-modal" class="container modal">
        {% if not user %}
            <div class="modal-content" style="margin: 0 auto">
                <h4 style="line-height: 0.5em; font-size: 25px; margin-bottom: 25px;"><b>Login</b></h4>
                <form action="/login" method="post">
                    <div class="input-field">
                        <input type="text" name="username-email">
                        <label for="username-email" style="font-size: 12px">Username/Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password">
                        <label for="password" style="font-size: 12px;">Password</label>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between">
                        <div class="input-field" style="font-size: 14px;">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
                        </div>
                        <div class="input-field">
                            <a href="/register" class="btn waves-effect waves-light">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="modal-content" style="margin: 0 auto">
                <h4 style="margin-bottom: 10px">{{user.fname}} {{user.lname}}</h4>
                <p style="margin: 0; margin-bottom: 10px">{{user.email}}</p>
                <form action="/logout" method="post">
                    <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; padding-right: 5px">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Logout</button>
                        <a class="btn waves-effect waves-light" href="/profile">Profile</a>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <nav id="alert-messages-nav" class="red white-text">
                <div class="nav-wrapper" style="display: flex; flex-direction: column; justify-content: space-between; max-height: 0">
                    <ul class="flashes" style="max-height: 0; margin-left: 20px">
                        {% for message in messages %}<li style="max-height: 100%">{{ message }}</li>{% endfor %}
                    </ul>
                </div>
                <button id="alert-cancel-btn" class="cancel-button"><p>&times;</p></span>
            </nav>
        {% endif %}
    {% endwith %}

    <div class="container" id="content"">
        {% block content %}
            {% block page %}{% endblock %}
        {% endblock %}
    </div>

    <div style="margin-left: 91%; padding-bottom: 10px;">
        <span id="scroll-to-top-arrow">&uparrow;</span>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  </body>
  

  <footer class="site-footer">
    <div class="container" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 30px">
        <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center">
            <p style="margin-top: 10px">Address</p>
            <p>Contact</p>
        </div>
        <div class="social-wrapper">
          <ul style="margin: 0 auto">
            <li>
              <a href="https://www.tiktok.com/" >
                <img src="../static/images/tiktok.png" alt="TikTok Logo" class="tiktok-icon">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/" >
                <img src="../static/images/facebook.png" alt="Facebook Logo" class="facebook-icon">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" >
                <img src="../static/images/instagram.png" alt="Instagram Logo" class="instagram-icon">
              </a>
            </li>
          </ul>
        </div>
    </div>
    <div class="footer">
      <p>© 2023 Copyright - All rights reserved | Powerhouse Fitness Club </p>
    </div>
  </footer>
</html>
