{% extends "layout.html" %}
{% block title %}Log Activity - Powerhouse Fitness Club{% endblock %}
{% block page %}Log Activity{% endblock %}
{{ super() }}

{% block content %}
<section id="log-activity-page">
    <a class="back-btn" href="/profile"><b>&larr; My Profile</b></a>
    <h1><b>LOG COMPLETED ACTIVITY</b></h1>
    <section class="img-container">
        <img class="about-img" src="https://www.w3schools.com/howto/img_nature_wide.jpg">
        <div class="centered">
            <h1><b>ACTIVITY LOGGING FORM</b></h1>
            <p>Please fill out this form to log your activity for the day in order to receive fit-coins!</p>
        </div>
    </section>
    <section id="wallet-content">
        <div class="form-container">
            <form id="log-activity" action="/log-activity" method="post">
                <section>
                    <fieldset>
                        <legend>Date</legend>
                        <input type="date" name="date" id="date" required>
                    </fieldset>
                    <br><br>
                    <fieldset>
                        <legend>Had Pre-Workout/Meal/Snack?</legend>
                        <input class="form-data" type="radio" name="pre-workout" id="had-pre-workout" value="True" checked>
                        <label for="had-pre-workout">Yes</label><br>
                        <input type="radio" name="pre-workout" id="no-pre-workout"  value="False">
                        <label class="form-data" for="no-pre-workout">No</label><br>
                    </fieldset>
                    <br><br>
                    <fieldset>
                        <legend>Select energy level</legend>
                        <input class="form-data" type="radio" name="energy-level" id="low-energy" value="Low" checked>
                        <label for="low-energy">Low</label><br>
                        <input class="form-data" type="radio" name="energy-level" id="medium-energy" value="Medium">
                        <label for="medium-energy">Medium</label><br>
                        <input class="form-data" type="radio" name="energy-level" id="high-energy" value="High">
                        <label for="high-energy">High</label>
                    </fieldset>
                    <br><br>
                    <fieldset>
                        <legend>Activity/Exercise Details</legend>
                        <textarea name="details" id="details" style="border: 1px solid; max-width: inherit" required></textarea>
                    </fieldset>
                </section>

                <section>
                    <button id="submit-activity-log" class="btn-style" type="submit" >Submit</button>
                </section>
            </form>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            document.getElementById('date').valueAsDate = new Date();
        })
    </script>
</section>
{% endblock %}