{% extends "layout.html" %}
{% block title %}Packages - Powerhouse Fitness Club{% endblock %}
{% block page %}Packages Availble{% endblock %}

{{ super() }}

{% block content %}
<section>
    <h1>Availble Packages</h1>
  <!--     Loop would begin here for    -->
    <div id="gal">
      <div id="piece">
        <h1 id=pck>Pkage Name</h1>
        <p id="des">descript.</p>
        <h4>$1000.00</h4>
      </div>
  <!--loop would end here just have the other foru visual rep-->
      <div id="piece">
        <h1 id=pck>Pkage Name</h1>
        <p id="des">descript.</p>
        <h4>$1000.00</h4>
      </div>
  
      <div id="piece">
        <h1 id=pck>Pkage Name</h1>
        <p id="des">descript. </p>
        <h4>$1000.00</h4>
      </div>
      
      <div id="piece">
        <h1 id=pck>Pkage Name</h1>
        <p id="des">descript. </p>
        <h4>$1000.00</h4> 
      </div>
    </div>
  </section>
{% endblock %}