{% extends "layout.html" %}
{% block title %}Packages - Powerhouse Fitness Club{% endblock %}
{% block page %}Packages{% endblock %}
{{ super() }}

{% block content %}
<section>
    <h1>Availble Packages</h1>

    <div class="gallery">
        {% for package in packages %}
            <div id="{{package.type.lower()}}-package" class="piece">
                <br>
                <h1 class="pkg-typ">{{package.type}}</h1>
                <hr>
                <p class="pkg-descrpt">{{package.desc}}</p>
                <hr>
                <h4>{{package.price}}</h4>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}