{% extends "layout.html" %}
{% block title %}Packages - Powerhouse Fitness Club{% endblock %}
{% block page %}Packages{% endblock %}
{{ super() }}

{% block content %}
<section id="package-page" class="pkgs">
    <h1><b>AVAILABLE PACKAGES</b></h1>
    <div id="pkg-card-data" class="row">
        {% for package in packages %}
        <div class="column">
            <div id="{{package.type.lower()}}-package" class="card">
                <div class="pkg-container">
                    <h2>{{package.type}}</h2>
                    <hr>
                    <h3>{{package.price}}</h3>
                    <hr>
                    <p>{{package.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
</section>
{% endblock %}