{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block page %}Profile{% endblock %}

{{ super() }}

{% block content %}
<section class="page-styling">
    <h1><b>MY PROFILE</b></h1>
    <section id="profile-page">
        <div class="profile-contents">
            <div class="profile">
                <img id="profile-image-preview" class="prof-img" src="data:image/png;base64,{{user.image.decode()}}">
                <span class="profile_name"><b>{{user.fname}} {{user.lname}}</b></span>
                <span class="username">@{{user.username}}</span>
            </div>
            <div class="links">
                <ul>
                    <li><a class="link" href="/profile/edit-user">EDIT MY INFO</a></li>
                    <li><a class="link" href="/wallet">MY WALLET</a></li>
                    <li><a class="link" href="/profile/add-drop-classes">ADD/DROP CLASSES</a></li>
                    <li><a class="link" href="/log-activity">LOG NEW ACTIVITY</a></li>
                    <li><a class="link" href="/activty-tracking">ACTIVITY TRACKING</a></li>
                </ul>
            </div>
        </div>
    </section>
</section>
{% endblock %}