{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block page %}Profile{% endblock %}

{{ super() }}

{% block content %}
<div>
    <div class="reg-container">
        <h1><b>MY PROFILE</b></h1>
        <section>
            <div style="background: white">
                <h2>There be text here</h2>
                <ul>
                    <li><a href="/profile/edit-user">EDIT MY INFO</a></li>
                    <li><a href="/profile/add-drop-classes">ADD/DROP CLASSES</a></li>
                    <li><a href="/log-activity">LOG NEW ACTIVITY</a></li>
                    <li><a href="/activty-tracking">ACTIVITY TRACKING</a></li>
                    <li><a href="/transactions">TRANSACTION HISTORY</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>
{% endblock %}