{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block page %}Profile{% endblock %}

{{ super() }}

{% block content %}
<div>
    <div class="reg-container">
        <h1><b>PROFILE</b></h1>
        <section>
            <form id="reg-form" action="/register">
                <div class="reg-card">
                    <h1><b>MEMBER'S PROFILE INFORMATION</b></h1>
                    <p><b>Select the buttons at the bottom of the page to edit & save changes.</b></p>
                    <hr>
                    
                    <section id="memberinfo">
                        <h2><b>Member Information:</b><h2>
                        <label for="firstname"><b>First Name</b></label>
                        <input type="text" placeholder="Member's First Name" name="firstname" id="firstname" required>
                        <br><br>
                        <label for="lastname"><b>Last Name</b></label>
                        <input type="text" placeholder="Member's Last Name" name="lastname" id="lastname" required>
                        <br><br>
                        <label for="date"><b>Date of Birth</b></label>
                        <br>
                        <input type="date" name="dob">
                        <br><br>
                        <label for="sex-options"><b>Sex</b></label>
                        <select name="sex-options" id="sex">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                        <br><br>
                        <label for="package-options"><b>Package</b></label><br>
                        <select name="package-options" id="package">
                            {% for package in packages %}
                                <option value="{{package.type.lower()}}">{{package.type}}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <label for="address"><b>Address</b></label><br>
                        <textarea rows="4" cols="50" name="address" placeholder="Member's text here..."></textarea>
                        <br><br>
                        <label for="contactno"><b>Contact Number</b></label>
                        <input type="text" placeholder="Member's Contact Number" name="contactno" id="contactno" required>
                        <br><br>
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Member's Email" name="email" id="email" required>
                        <br><br>
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Member's Password" name="psw" id="psw" required>
                        <br><br>
                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeated Password" name="psw-repeat" id="psw-repeat" required>
                        <br><br>
                        <label for="img-upload"><b>Custom Profile Image</b></label><br>
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <input type="file" name="fileToUpload" id="img-upload" style="width:100%;">
                        </div>
                        <br><br>
                        <hr>
                    </section>

                    <section id="emgcy-contact">
                        <h2><b>Emergency Contact Information:</b></h2>
                        <label for="emgcy-fname"><b>First Name</b></label>
                        <input type="text" placeholder="Emergency Contact's First Name" name="emgcy-fname" id="emgcy-fname" required>
                        <br><br>
                        <label for="emgcy-lname"><b>Last Name</b></label>
                        <input type="text" placeholder="Emergency Contact's Last Name" name="emgcy-lname" id="emgcy-lname" required>
                        <br><br>
                        <label for="relationship"><b>Relationship To Member</b></label>
                        <input type="text" placeholder="Emergency Contact's Relationship" name="relationship" id="relationship" required>
                        <br><br>
                        <label for="emgcy-contactno"><b>Contact Number</b></label>
                        <input type="text" placeholder="Emergency Contact's Contact Number" name="emgcy-contactno" id="emgcy-contactno">
                        <br><br>
                        <hr>
                        <div id="profile-btns">
                            <button type="submit" id="exit-btn"><b>EXIT</b></button>
                            <button type="submit" id="clr-btn"><b>CLEAR</b></button>
                            <button type="submit" id="save-btn"><b>SAVE</b></button>
                            <button type="submit" id="edit-btn"><b>EDIT</b></button>
                            
                        </div>
                    </section>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}