{% extends "layout.html" %}
{% block title %}Register - Powerhouse Fitness Club{% endblock %}
{% block page %}Register{% endblock %}

{{ super() }}

{% block content %}
<section id="reg-page" class="page-styling">
    <h1><b>JOIN THE FAMILY TODAY!</b></h1>
    <section class="img-container">
        <img class="about-img" src="https://www.w3schools.com/howto/img_nature_wide.jpg">
        <div class="centered">
            <h1><b>NEW MEMBER <br>
                REGISTRATION FORM</b></h1>
            <p>Please fill out this form to create an account</p>
        </div>
    </section>
    <section class="form-container">
        <form id="reg-form" action="/register" method="post" enctype="multipart/form-data">
            <section id="memberinfo" class="visible">
                <h2><b>MEMBER INFORMATION</b></h2>
                <label for="firstname"><b>FIRST NAME</b></label>
                <input type="text" placeholder=" First Name" name="firstname" id="firstname" required>
                <br><br>
                <label for="lastname"><b>LAST NAME</b></label>
                <input type="text" placeholder=" Last Name" name="lastname" id="lastname" required>
                <br><br>
                <label for="date"><b>DATE OF BIRTH <br>[Select Calendar Icon]</b></label>
                <br>
                <input type="date" name="dob" required>
                <br><br>
                <label for="sex"><b>SEX</b></label>
                <select name="sex" id="sex">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                <br><br>
                <label for="package-id"><b>PACKAGE</b></label><br>
                <select name="package-id" id="package">
                    {% for package in packages %}
                        <option id="{{package.type.lower()}}-package" value="{{package.id}}">{{package.type}}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="address"><b>ADDRESS</b></label><br>
                <textarea rows="4" cols="50" name="address" placeholder=" Resident Address"></textarea>
                <br><br>
                <label for="contactno"><b>CONTACT NUMBER</b></label>
                <input type="text" placeholder=" Contact Phone Number" name="contactno" id="contactno" required>
                <br><br>
                <label for="email"><b>EMAIL</b></label>
                <input type="text" placeholder=" Email Address" name="email" id="email" required>
                <br><br>
                <label for="password"><b>PASSWORD</b></label>
                <input type="password" placeholder=" Password" name="password" id="password" required>
                <br><br>
                <label for="password-repeat"><b>REPEAT PASSWORD</b></label>
                <input type="password" placeholder=" Confirm Password" name="password-repeat" id="password-repeat" required>
                <br><br>
                <label for="image"><b>UPLOAD PROFILE PHOTO</b></label><br>
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <input type="file" name="image" id="image-upload" style="width:100%;" accept="image/png, image/jpeg, image/jpg">
                </div>
                <br>
                <a class="btn-style" onclick="advanceSection(1);"><b>CONTINUE</b></a>
                <hr>
            </section>
            
            <section id="emgcy-contact" class="hidden">
                <h2><b>EMERGENCY CONTACT INFORMATION</b></h2>
                <label for="emgcy-fname"><b>FIRST NAME</b></label>
                <input type="text" placeholder=" First Name" name="emgcy-fname" id="emgcy-fname" required>
                <br><br>
                <label for="emgcy-lname"><b>LAST NAME</b></label>
                <input type="text" placeholder=" Last Name" name="emgcy-lname" id="emgcy-lname" required>
                <br><br>
                <label for="relationship"><b>RELATIONSHIP TO MEMBER</b></label>
                <input type="text" placeholder=" Relationship To Member" name="relationship" id="relationship" required>
                <br><br>
                <label for="emgcy-contactno"><b>CONTACT NUMBER</b></label>
                <input type="text" placeholder=" Contact Phone Number" name="emgcy-contactno" id="emgcy-contactno" required>
                <p id="terms-condit">By creating an account you agree to our 
                    <a onclick="toggleTermsConditionsModal(true);" style="font-weight: bolder">Terms & Conditions.</a>
                </p>
                <br>
                <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                    <a id="back-btn" class="btn-style" onclick="advanceSection(-1);"><b>BACK</b></a>
                    <button type="submit" id="registerbtn" class="btn-style"><b>REGISTER</b></button>
                </div>
                <hr>
            </section>
            <div id="overlay"></div>
            <div id="terms-conditions-modal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Terms & Conditions</h2>
                    </div>
                    <hr>
                    <section id="terms-conditions">
                        <p>You accept all of these terms and conditions by registering for membership with the Powerhouse Fitness Club.</p>
                        <div class="modal-body">
                            <ul>
                                <li>1. You must be at least 14 years old to use our membership web application.</li><br>
                                <li>2. You alone are in charge of protecting the privacy of your login information and of any actions taken using your account.</li><br>
                                <li>3. You hereby consent to not use our membership application for any unlawful or unauthorized purposes, nor to take any action that would impair, interfere with, or otherwise negatively affect our services or systems.</li><br>
                                <li>4. This web application is offered "as is" and "as available" without any warranty or guarantee, either stated or implied.</li><br>
                                <li>5. Any component of our membership web application may be changed, suspended, or terminated at any moment, with or without prior warning.</li><br>
                                <li>6. Your access to our membership web application may be terminated or suspended at any time, with or without cause, with or without prior notice, and without incurring any obligation to you or any third parties.</li><br>
                                <li>7. We reserve the right to utilize any content you submit to our membership web application for any reason, without payment or credit to you.</li><br>
                                <li>8. You agree to indemnify and hold us harmless from any claims, damages, or losses arising out of or in connection with your use of our membership web application.</li><br>
                            </ul>
                        </div>
                        <p>These terms and conditions constitute the entire agreement between you and the Powerhouse Fitness Club with respect to your use of our membership web application, and supersedes any prior agreements or understandings, whether written or oral.</p>
                    </section>
                    <hr>
                    <span class="btn-style" onclick="toggleTermsConditionsModal(false);">CLOSE</span>
                </div>
            </div>
        </form>
    </section>
    <section id="regpg-signin">
        <p>Already have an account? </p>
        <button id="register-signin-btn" type="submit" onclick="openUserProfileModal(true);" style="font-weight: bolder">Login</button>
    </section>

    <script>
        let sectionIndex = 0;
        function advanceSection(indexIncrement) {
            let sections = document.querySelectorAll("form > section");
            let currentSection = sections[sectionIndex];
            currentSection.classList.remove("visible");
            sectionIndex += indexIncrement;
            sectionIndex = sectionIndex < 0 ? 0 : sectionIndex;
            let nextSection = sections[sectionIndex];
            currentSection.classList.add("hidden");
            nextSection.classList.remove("hidden");
            nextSection.classList.add("visible");

            document.querySelector('#reg-form').scrollIntoView({
                block: 'start',
                behavior: 'smooth'
            })
        }

        function toggleTermsConditionsModal(state) {
            console.log("here")
            document.querySelector('#overlay').style.display = state ? 'block' : 'none'
            document.querySelector('body').style.overflow = state ? 'hidden' : 'auto'
            let el = document.querySelector('#terms-conditions-modal')
            el.style.display = state ? 'block' : 'none'
        }
    </script>
</section>

{% endblock %}