{% extends "layout.html" %}
{% block title %}Register - Powerhouse Fitness Club{% endblock %}

{{ super() }}

{% block content %}
    <div>
        {% block page %}<h1><b>JOIN THE FAMILY TODAY!</b></h1>{% endblock %}
        <div class="reg-container">
            <section >
                <form action="/action_page.php">
                    <div class="reg-card">
                        <h1>MEMBER REGISTRATION FORM</h1>
                        <p><b>Please fill out this form to create an account.</b></p>
                        <hr>
                        <section id="memberinfo">
                            <h2>Member Information<h2>
                        
                            <label for="firstname"><b>First Name:</b></label>
                            <input type="text" placeholder="Enter First Name" name="firstname" id="firstname" required>
                            <br>
                            <label for="lastname"><b>Last Name:</b></label>
                            <input type="text" placeholder="Enter Last Name" name="lastname" id="lastname" required>
                            <br>
                            <label for="date"><b>Date of Birth:</b></label>
                            <br>
                            <input type="date" name="dob" />
                            <br><br>
                            
                            <label for="sex"><b>Sex:</b></label><br>
                            <select name="sex" id="sex">
                                <option value="other">Other</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <br><br>
                            
                            <label for="sex"><b>Package:</b></label><br>
                            <select name="sex" id="sex">
                                <option value="student">Student</option>
                                <option value="standard">Standard</option>
                                <option value="premium">Premium</option>
                                <option value="group">Group</option>
                            </select>
                            <br><br>
                            
                            <label for="address"><b>Address:</b></label><br>
                            <textarea rows="4" cols="50" name="address" placeholder="Enter text here...">
                        </textarea><br><br>
                            
                            <label for="contactno"><b>Contact Number:</b></label>
                            <input type="text" placeholder="Enter Contact Number" name="contactno" id="contactno" required>
                            <br>
                            <label for="email"><b>Email</b></label>
                            <input type="text" placeholder="Enter Email" name="email" id="email" required>
                            <br>
                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                            <br>
                            <label for="psw-repeat"><b>Repeat Password</b></label>
                            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                            <br>
                            
                            <label for="img-upload"><b>Select image to upload:</b></label><br>
                            <input type="file" name="fileToUpload" id="img-upload">
                            <br><br>
                            <hr>
                        </section>
                        <section id="emgcy-contact">
                            
                            <h2>Emergency Contact Information</h2>
                            
                            <label for="emgcyfirstname"><b>First Name:</b></label>
                            <input type="text" placeholder="Enter First Name" name="emgcyfirstname" id="emgcyfirstname" required>
                            <br>
                            <label for="emgcylastname"><b>Last Name:</b></label>
                            <input type="text" placeholder="Enter Last Name" name="emgcylastname" id="emgcylastname" required>
                            <br>
                            <label for="relationship"><b>Relationship To Member:</b></label>
                            <input type="text" placeholder="Enter Relationship" name="relationship" id="relationship" required>
                            <br>
                            <label for="emgcycontact"><b>Contact Number:</b></label>
                            <input type="text" placeholder="Enter Contact Number" name="emgcycontact" id="emgcycontact" required>
                            <br><br>
                            
                            <hr>
                            <p>By creating an account you agree to our <a href="#"><b>Terms & Privacy</b></a>.</p>
                        
                            <button type="submit" class="registerbtn">Register</button>
                            </div>
                        </section>
                        <section id="regpg-signin">
                            <div class="container signin">
                            <p>Already have an account? <a href="#"><b>Sign in</b></a></p>
                            </div>
                        </section>
                  </form>
            </section>
        </div>
    </div>
{% endblock %}