{% extends "layout.html" %}
{% block title %}Register - Powerhouse Fitness Club{% endblock %}
{% block page %}Register{% endblock %}

{{ super() }}

{% block content %}
    <div>
        <div class="reg-container">
            <h1><b>JOIN THE FAMILY TODAY!</b></h1>
            <section>
                <form id="reg-form" action="/register" method="post" enctype="multipart/form-data">
                    <div class="reg-card">
                        <h1><b>NEW MEMBER REGISTRATION FORM</b></h1>
                        <p><b>Please fill out this form to create an account</b></p>
                        <hr>
                        
                        <section id="memberinfo">
                            <br>
                            <label for="firstname"><b>First Name</b></label>
                            <input type="text" placeholder=" First name" name="firstname" id="firstname" required>
                            <br><br>
                            <label for="lastname"><b>Last Name</b></label>
                            <input type="text" placeholder=" Last name" name="lastname" id="lastname" required>
                            <br><br>
                            <label for="date"><b>Date of Birth</b></label>
                            <br>
                            <input type="date" name="dob">
                            <br><br>
                            <label for="sex"><b>Sex</b></label>
                            <select name="sex" id="sex">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                            <br><br>
                            <label for="package-id"><b>Package</b></label><br>
                            <select name="package-id" id="package">
                                {% for package in packages %}
                                    <option id="{{package.type.lower()}}-package" value="{{package.id}}">{{package.type}}</option>
                                {% endfor %}
                            </select>
                            <br><br>
                            <label for="address"><b>Address</b></label><br>
                            <textarea rows="4" cols="50" name="address" placeholder=" Resident address"></textarea>
                            <br><br>
                            <label for="contactno"><b>Contact Number</b></label>
                            <input type="text" placeholder=" Contact phone number" name="contactno" id="contactno" required>
                            <br><br>
                            <label for="email"><b>Email</b></label>
                            <input type="text" placeholder=" Email address" name="email" id="email" required>
                            <br><br>
                            <label for="password"><b>Password</b></label>
                            <input type="password" placeholder=" Password" name="password" id="password" required>
                            <br><br>
                            <label for="password-repeat"><b>Repeat Password</b></label>
                            <input type="password" placeholder=" Confirm your password" name="password-repeat" id="password-repeat" required>
                            <br><br>
                            <label for="image"><b>Custom Profile Image</b></label><br>
                            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                <input type="file" name="image" id="image-upload" style="width:100%;" accept="image/png, image/jpeg, image/jpg">
                            </div>
                            <br><br>
                            <hr>
                        </section>

                        <section id="emgcy-contact">
                            <h2><b>Please Supply An Emergency Contact</b></h2>
                            <label for="emgcy-fname"><b>First Name</b></label>
                            <input type="text" placeholder=" First name" name="emgcy-fname" id="emgcy-fname" required>
                            <br><br>
                            <label for="emgcy-lname"><b>Last Name</b></label>
                            <input type="text" placeholder=" Last name" name="emgcy-lname" id="emgcy-lname" required>
                            <br><br>
                            <label for="relationship"><b>Relationship To Member</b></label>
                            <input type="text" placeholder=" Relationship to member" name="relationship" id="relationship" required>
                            <br><br>
                            <label for="emgcy-contactno"><b>Contact Number</b></label>
                            <input type="text" placeholder=" Contact phone number" name="emgcy-contactno" id="emgcy-contactno" required>
                            <br><br>
                            <hr>
                            <p>By creating an account you agree to our <a href="#"><b>Terms & Privacy</b></a>.</p>
                            <button type="submit" id="registerbtn"><b>Register</b></button>
                        </section>
                    </div>
                </form>
                <div id="regpg-signin" class="reg-card">
                    <p>Already have an account?</p>
                    <button id="register-sign-in-btn" type="submit" onclick="openUserProfileModal();">Login</button>
                </div>
            </section>
        </div>
    </div>
{% endblock %}