{% extends "layout.html" %}
{% block title %}Transaction History - Powerhouse Fitness Club{% endblock %}
{% block page %}Transaction History{% endblock %}
{{ super() }}

{% block content %}
<section>
    <div id="wallet-content" class="card">
        <h1><b>TRANSACTION HISTORY</b></h1>
        <hr>
        <a class="button" href="/profile"><b>&larr;My Profile</b></a>
        <div id="transaction-history">
            <table>
                <tr>
                    <th>Date & Time</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Details</th>
                </tr>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.datetime }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.details }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock %}