{% extends "layout.html" %}

{% block title %}My Wallet - Powerhouse Fitness Club{% endblock %}

{% block page %}My Wallet{% endblock %}

{% block content %}
<section id="wallet-page" class="page-styling">
    <a class="back-btn" href="/profile"><b>&larr; My Profile</b></a>
    <div id="wallet-content">
        {% if wallet %}
            <h1><b>WALLET</b></h1>
            <section id="wallet-icon">
                <span class="material-symbols-outlined">
                    account_balance_wallet
                </span>
            </section>
            <section id="wallet-info">
                <h2>Balance: {{ wallet.balance }} Fitcoins</h2>
            </section>
            <br>
            <hr>
            <br>
            <section id="transaction-history" >
                <h2><b>TRANSACTION HISTORY LOG</b></h2>
                <br>
                <div style="height: 50vh; overflow-y: scroll; margin-bottom: 5em">
                    <table id="transaction-history-table">
                        <tr>
                            <th>Date & Time</th>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Details</th>
                        </tr>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.datetime }}</td>
                            <td>{{ transaction.type }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.details }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>
        {% else %}
            <p>Please log in to view your wallet.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
